<% provide(:title, t("home")) %>
<%= image_tag("banner.jpg", alt: "e-learning", class: "home_photo") %>
<div class="center jumbotron">
  <h1><%= t("welcome") %></h1>
  <h2><%= t("slogan") %></h2>
</div>
