<footer class="footer">
  <div class="container">
    <small>
      <%= t("logo") %>
    </small>
    <nav>
      <ul>
        <li><%= link_to t("about"), about_path %></li>
      </ul>
    </nav>
  </div>
</footer>
